<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Filter posts</title>
</head>

<body>
    <div class="container">
        <header class="filter-container">
            <h1>Posts</h1>
            <input type="text" id="filter" class="filter" placeholder="Pesquisar no blog" autofocus />
        </header>

        <div id="posts-container"></div>

        <div class="loader">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>

    <script src="../app.js"></script>
</body>

</html>