@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-bottom: 100px;
    justify-content: center;
    min-height: 100vh;
    background-color: #223875;
}

.filter-container {
    background-color: #0830fcc2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7rem;
}

h1 {
    margin-bottom: 0;
    text-align: center;
    color: #ffa600;
    margin: 1rem;
    animation: bounceh1 0.5s ease-in infinite;
}

.filter-container input[type=text] {
    width: 50%;
    margin-bottom: 2rem;
}

.filter {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
}

.comment {
    position: relative;
    background-color: #188fc7;
    box-shadow: 0 2px 4px #0ec2c24d;
    border-radius: 3px;
    padding: 30px;
    margin: 40px 0;
    display: flex;
    width: 80vw;
    max-width: 800px;
}

.comment .comment-title {
    margin: 0;
}

.comment .comment-body {
    margin: 20px 0 0;
    line-height: 1.5;
}

.comment .comment-info {
    margin-left: 20px;
}

.comment .number {
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 15px;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4CD964;
    color: #0E1220;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
}

.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
}

.loader.show {
    opacity: 1;
}

.circle {
    background-color: #ff0000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes bounceh1 {
    0%,
    100% {
        transform: translateY(4px);
    }
    50% {
        transform: translateY(0);
    }
}